<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- title area -->
    <title> Halaman {% block judul%} {% endblock %} </title>

    <!-- CSS area -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ionicons.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dataTables.bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/AdminLTE.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/_all-skins.min.css')}}">

    <!-- CSS font area -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='font/sansPro.css')}}">
</head>

<body>
<!-- content area -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                <a href="/">
                    <img src="{{ url_for('static', filename='img/amikom_logo.png') }}"
                         style="width: 40px;">
                </a>
                Gallery
                <small>Gallery</small>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            {% block JudulKonten %} {% endblock %}
                        </div>

                        <!-- data table (database) area -->
                        <div class="box-body">
                            {% block konten %} {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

<!-- Javascript area -->
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.slimscroll.min.js')}}"></script>
<script src="{{url_for('static', filename='js/fastclick.js')}}"></script>
<script src="{{url_for('static', filename='js/adminlte.min.js')}}"></script>
<script src="{{url_for('static', filename='js/demo.js')}}"></script>


</body>
</html>

